


<section>

  <div class="footer-left-content">
    <ul>
      <li>McConnell Engineering Bldg. Room 318</li>
      <li>3480 University St.</li>
      <li>Montréal, Québec, Canada</li>
      <li>H3A 0E9</li>
      <li>H3A 0E9</li>
      <li>Tel: (514) 398-7071</li>
      <li>Fax: (514) 398-3883</li>
    </ul>
  </div>

  <div class="footer-right-content">
    <img class="logo" src="../../assets/img/logo-footer-red.png">
    <br>
    <br>
    <br>
    <div style="font-size: 11px; float: right; margin-right: 10px">Copyright © McGill University 2020</div>
  </div>

</section>
