<header>
  <div class="header">


    <section>

      <div class="header-left-content">
        <a href="/homepage">
          <img class="logo" src="../../assets/img/mcgill-cs-logo.png">
        </a>
      </div>

      <div class="header-right-content">
        <form>
          <input type="text" name="search" placeholder="Search..">
        </form>
      </div>

    </section>



    <div class="image-container" style="background-image: url('assets/img/trottier.jpg'); background-position: center;">
      <div class="text">Innovation</div>
    </div>

    <div class="header-right">

      <div class="dropdown">
        <button>Prospective</button>
        <div class="dropdown-content">
          <a href="/prospective/general">General Info</a>
          <a href="/prospective/cegep">CEGEP</a>
          <a href="/prospective/freshman">Freshman</a>
          <a href="/prospective/majors">Choosing a Major</a>
        </div>
      </div>

      <div class="dropdown">
        <button>Academic</button>
        <div class="dropdown-content">
          <a href="/academic/undergrad/overview">Undergraduate</a>
          <a href="/academic/graduate/overview/">Graduate</a>
          <a href="/academic/courses/">Courses</a>
          <a href="/academic/ta/">Teaching Assistant</a>
          <a href="/academic/funding/overview/">Funding</a>
        </div>
      </div>

      <div class="dropdown">
        <button>Research</button>
        <div class="dropdown-content">
          <a href="#">Areas</a>
          <a href="#">Tech Reports</a>
        </div>
      </div>

      <div class="dropdown">
        <button>People</button>
        <div class="dropdown-content">
          <a href="#">Faculty</a>
          <a href="#">Staff</a>
          <a href="#">Community</a>
        </div>
      </div>

      <div class="dropdown">
        <button>News</button>
        <div class="dropdown-content">
          <a href="/news">News</a>
          <a href="/events">Events</a>
        </div>
      </div>

      <div class="dropdown">
        <button>Employment</button>
        <div class="dropdown-content">
          <a href="/employment/lecturer/">Course Lecturer</a>
          <a href="/employment/lecturer-info/">Priority Points</a>
          <a href="/employment/research/">Research</a>
          <a href="/employment/student/">Student</a>
        </div>
      </div>

      <button href="#">Donate</button>


      <div class="dropdown">
        <button>About</button>
        <div class="dropdown-content ">
          <a href="/about/contacts/">Contacts</a>
          <a href="/about/facilities/">Facilities</a>
          <a href="/login">Admin</a>
        </div>
      </div>
    </div>

  </div>
</header>
