
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section>
    <div class="sidenav left-content">
      <!-- Undergraduate -->
      <button class="dropdown-btn">Undergraduate<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-container">
        <a href="/academic/undergrad/overview">Overview</a>
        <a href="/academic/undergrad/incoming">Information for Incoming Students</a>
        <a href="/academic/undergrad/remote">Remote Learning</a>
        <a href="/academic/undergrad/faq">FAQ</a>
        <a href="/academic/undergrad/advising">Advising</a>
        <a href="/academic/undergrad/comp202">COMP 202/204/208</a>
        <a href="/academic/undergrad/streams">Streams</a>
        <a href="/academic/undergrad/bsc">Bachelor of Science</a>
        <a href="/academic/undergrad/ba">Bachelor of Arts</a>
        <a href="/academic/undergrad/basc">Bachelor of Arts and Science</a>
        <a href="/academic/undergrad/minor">Minor Computer Science</a>
        <a href="/academic/undergrad/games">Games</a>
        <a href="/academic/undergrad/research">Research</a>
        <a href="/academic/undergrad/career">Interships & Careers</a>
        <a href="/academic/undergrad/gradprep">Preparation for Graduate Studies</a>
      </div>
      <!-- Graduate -->
      <button class="dropdown-btn">Graduate<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-container">
        <a href="/academic/graduate/overview">Overview</a>
        <a href="/academic/graduate/masters">Masters</a>
        <a href="/academic/graduate/phd">Ph. D.</a>
        <a href="/academic/graduate/admission">Admission</a>
        <a href="/academic/graduate/applying">Applying</a>
        <a href="/academic/graduate/faq">FAQ</a>
      </div>
      <!-- Courses -->
      <a href="/academic/courses/">Courses</a>
      <!-- Teaching Assistant -->
      <button class="dropdown-btn">Teaching Assistant<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-container">
        <a href="/academic/graduate/ta">TA & Research Assistant</a>
        <a href="/academic/graduate/ta/awards">TA Awards</a>
      </div>
      <!-- Funding -->
      <button class="dropdown-btn">Funding<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-container">
        <a href="/academic/funding/overview">Funding Information</a>
        <a href="/academic/funding/gradscholarship">Graduate Scholarships</a>
        <a href="/academic/funding/expensereports">Expense Reports</a>
      </div>
    </div>
    <!-- <div class="sidenav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
      <button class="dropdown-btn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
      <a href="#contact">Search</a>
    </div> -->

    <div class="post-container right-content" [innerHTML]="currentViewingContent"></div>
  </section>

<script>

</script>
