<div class="slideshow-container">

  <div class="slides fade">
    <img src="assets/img/remote-learning.png" style="width:100%">
    <div class="text">Remote Learning Resources... <span>Click to learn more</span></div>
  </div>

  <div class="slides fade">
    <img src="assets/img/remote-teaching.png" style="width:100%">
    <div class="text">Remote Teaching in the Fall... <span>Click to learn more</span></div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>


  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
  </div>

</div>





